apache-superset
marshmallow>=3.20.0,<4.0.0
gunicorn
pandas
numpy==1.26.4

pyarrow
pillow
mysqlclient
pymysql
redis
psycopg2-binary
pymongo
mongoengine
python-dotenv
python-memcached
python-graphql-client
flask-limiter<3.0
celery>=5.3.6
