apache-superset
mysqlclient
redis
psycopg2-binary
pymongo
mongoengine
python-dotenv
python-memcached




apache-superset==2.1.0
mysqlclient==2.1.1
redis==4.5.5
psycopg2-binary==2.9.7
pymongo==4.3.3
mongoengine==0.27.0
python-dotenv==1.0.0
python-memcached==1.59